<section class="dark darkblue-bg">
            <div class="container">
                <div class="row column-5">
                    <div class="col-sm-2">
                        <div class="stat-counter counter animated fadeInDown visible" data-animation="fadeInDown" data-delay="0">
                            <div class="icon-holder"><img src="assets/img/icon/white-cup.png" alt="white icon"></div>
                            <div class="nmbr-counter stat"><span class="value" data-from="0" data-to="750">750</span></div>
                            <div class="caption">Cups of Coffee</div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="stat-counter counter animated fadeInDown visible" data-animation="fadeInDown" data-delay="250">
                            <div class="icon-holder"><img src="assets/img/icon/white-smile.png" alt="white icon"></div>
                            <div class="nmbr-counter stat"><span class="value" data-from="0" data-to="178">178</span></div>
                            <div class="caption">Clients Worked</div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="stat-counter counter animated fadeInDown visible" data-animation="fadeInDown" data-delay="500">
                            <div class="icon-holder"><img src="assets/img/icon/white-discussion.png" alt="white icon"></div>
                            <div class="nmbr-counter stat"><span class="value" data-from="0" data-to="5678">5678</span></div>
                            <div class="caption">Answered Questions</div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="stat-counter counter animated fadeInDown visible" data-animation="fadeInDown" data-delay="750">
                            <div class="icon-holder"><img src="assets/img/icon/white-tools.png" alt="white icon"></div>
                            <div class="nmbr-counter stat"><span class="value" data-from="0" data-to="609">609</span></div>
                            <div class="caption">Projects Complete</div>
                        </div>
                        </div>
                    <div class="col-sm-2">
                        <div class="stat-counter counter animated fadeInDown visible" data-animation="fadeInDown" data-delay="1000">
                            <div class="icon-holder"><img src="assets/img/icon/white-image.png" alt="white icon"></div>
                            <div class="nmbr-counter stat"><span class="value" data-from="0" data-to="25">25</span></div>
                            <div class="caption">Modules Included</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>