<div>
    <script id="listItem-partial" type="text/x-handlebars-template">
        <div class="col-xs-12 col-sm-4 col-md-4 item-con">
            <div class="thumbnail  lightbox-item item" data-link="{{src}}" data-id="{{id}}" data-toggle="lightbox" data-gallery="activity-gligiallery">
                <img src="{{src}}" class="img-fluid">
            <div class="caption text-overflow">
                <h4>{{name}}</h4>
            </div>
            </div>
        </div>
    </script>
</div>