<section data-stellar-background-ratio="0.3" class="parallax-main-banner" style="background-position: 0% -45.5px;">
    <div id="heading">
        <!-- BEGIN CAROUSEL -->
        <div class=" jcarousel-skin-tango">
            <div id="mycarousel" class="jcarousel-container jcarousel-container-vertical" style="position: relative; display: block;">
                <div class="jcarousel-clip jcarousel-clip-vertical" style="position: relative;">
                    <ul class="jcarousel-list jcarousel-list-vertical" style="overflow: hidden; position: relative; margin: 0px; padding: 0px; left: 0px; height: 800px; top: -560px;">
                        <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-1 jcarousel-item-1-vertical" jcarouselindex="1" style="float: left; list-style: none; height: 140px;">
                            <h1>love colors</h1>
                            <div class="clearfix"></div>
                            <h2>Parallax and Responsive Template</h2>
                        </li>
                        <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-2 jcarousel-item-2-vertical" jcarouselindex="2" style="float: left; list-style: none; height: 140px;">
                            <h1>i love colors</h1>
                            <div class="clearfix"></div>
                            <h2>Parallax and Responsive Template</h2>
                        </li>
                        <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-3 jcarousel-item-3-vertical" jcarouselindex="3" style="float: left; list-style: none; height: 140px;">
                            <h1>you love colors</h1>
                            <div class="clearfix"></div>
                            <h2>Parallax and Responsive Template</h2>
                        </li>
                        <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-4 jcarousel-item-4-vertical" jcarouselindex="4" style="float: left; list-style: none; height: 140px;">
                            <h1>they love colors</h1>
                            <div class="clearfix"></div>
                            <h2>Parallax and Responsive Template</h2>
                        </li>
                        <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-5 jcarousel-item-5-vertical" jcarouselindex="5" style="float: left; list-style: none; height: 140px;">
                            <h1>we love colors</h1>
                            <div class="clearfix"></div>
                            <h2>Parallax and Responsive Template</h2>
                        </li>
                    </ul>
                </div>
                <div class="jcarousel-prev jcarousel-prev-vertical" style="display: block;"></div>
                <div class="jcarousel-next jcarousel-next-vertical jcarousel-next-disabled jcarousel-next-disabled-vertical"
                    disabled="disabled" style="display: block;"></div>
            </div>
        </div>
        <!-- /END CAROUSEL -->
    </div>
    <!-- BEGIN TABS BTN -->
    <div class="tabs-btn green">
        <div class="container">
            <ul>
                <li>
                    <a href="#heading" id="tab-btn1" class="active">
                        <i class="fa fa-desktop"></i>
                        <p>
                            <span>Websites</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </a>
                </li>
                <li>
                    <a href="#heading" id="tab-btn2">
                        <i class="fa fa-html5"></i>
                        <p>
                            <span>Latest Trends</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </a>
                </li>
                <li>
                    <a href="#heading" id="tab-btn3">
                        <i class="fa fa-users"></i>
                        <p>
                            <span>Social Networks</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </a>
                </li>
                <li>
                    <a href="#heading" id="tab-btn4">
                        <i class="fa fa-laptop"></i>
                        <p>
                            <span>Mobile Apps</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </a>
                </li>
                <li>
                    <a href="#heading" id="tab-btn5">
                        <i class="fa fa-cloud"></i>
                        <p>
                            <span>Cloud Hosting </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /END TABS BTN -->
</section>