<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="UtilHub-互联网操作系统">
      <div class="caption">
        <h3>UtilHub-互联网操作系统</h3>
        <p>组件化的SAAS型中间件系统平台，快速开发企业级大型网站系统和应用。</p>
        <p>UtilHub基于WEB标准技术,创造了一个组件化的新型云计算技术平台</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>