<div>
    <script id="show-partial" type="text/x-handlebars-template">
        <div class="panel panel-default">
            <div class="panel-head"><h3>show</h3></div>
            <div class="panel-body">
                <div class="container">
                    show content
                </div>
            </div>
        </div>
    </script>
    <script id="listItem-partial" type="text/x-handlebars-template">
        <div class="col-xs-12 col-sm-4 col-md-4 item-con">
            <div class="thumbnail lightbox-item item" data-link="{{src}}" data-id="{{id}}" data-toggle="lightbox" data-gallery="activity-gligiallery">
                <img src="{{src}}" class="img-fluid">
            </div>
            <div class="caption text-overflow pull-left">
                <h5>{{name}}</h5>
            </div>
        </div>
    </script>
</div>