<section class="dark-section overflow-hidden accordion-section">
    <div class="bg-image why-choose-us-accordion-bg skrollable skrollable-between" data-center="transform: translate3d(0px, -50%, 0px)" data-top-bottom="transform: translate3d(0px, -25%, 0px)" data-bottom-top="transform: translate3d(0px, -75%, 0px)" style="transform: translate3d(0px, -74.1532%, 0px);"></div>
    <div class="overlay overlay-six">
        <div class="section-common-space">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center section-heading">
                        <h2 class="section-title">WHY CHOOSE US</h2>
                        <h3 class="section-subtitle">We combine the best of our skills and ideas to change the idea of web service's.</h3>
                    </div>
                </div>
                <div class="row specialties-accordion-wrap" data-action="accordionWithImage">
                    <div class="col-sm-12 col-md-7 col-lg-offset-1 col-lg-5">
                        <ul class="wcu-collapse">
                            <li class="single-acc-item init-color collapse-open" data-image-src="img/why-choose-us/01.jpg">
                                <div class="collapse-label">
                                    <div class="cllabelmain">UNIQUE DESIGN</div>
                                    <div class="icwrap"><i class="zmdi zmdi-plus"></i></div>
                                </div>
                                <div class="collapse-content" style="display: block;">Vivamus quis mi. Morbi ac felis. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Cras non dolor. Fusce pharetra convallis urna. Sed consequat, leo eget bibendum sodales,
                                    augue velit cursus nunc.</div>
                            </li>
                            <li class="single-acc-item init-remove-color" data-image-src="img/why-choose-us/02.jpg">
                                <div class="collapse-label">
                                    <div class="cllabelmain">EXPERENCE TEAM</div>
                                    <div class="icwrap"><i class="zmdi zmdi-plus"></i></div>
                                </div>
                                <div class="collapse-content" style="display: none;">Vivamus quis mi. Morbi ac felis. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Cras non dolor. Fusce pharetra convallis urna. Sed consequat, leo eget bibendum sodales,
                                    augue velit cursus nunc.</div>
                            </li>
                            <li class="single-acc-item init-remove-color" data-image-src="img/why-choose-us/03.jpg">
                                <div class="collapse-label">
                                    <div class="cllabelmain">GREAT SERVICE</div>
                                    <div class="icwrap"><i class="zmdi zmdi-plus"></i></div>
                                </div>
                                <div class="collapse-content" style="display: none;">Vivamus quis mi. Morbi ac felis. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Cras non dolor. Fusce pharetra convallis urna. Sed consequat, leo eget bibendum sodales,
                                    augue velit cursus nunc.</div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <div class="wcu-thumb-wrap acc-thumb-area"><img src="img/why-choose-us/01.jpg" alt="Accordion Image" style="opacity: 1;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>