<section class="page-section-white">
	
    <div class="container">
		
        <!--Latest clients title -->
        <div class="text-center padbottom30">
            <h1>{{title}}</h1>
            <p>{{text}}</p>
        </div>
         <!--Latest clients title -->
         
          <!--Latest clients area -->
          <div class="row">
          
                <ul class="clientslist">
                    {{#each clientslist}}
                
                    <li><img alt="" src="{{src}}"></li>

                {{/each}}
               </ul>
           
           </div>

	</div>
    
</section>