<div class="headerContent">
    <div id="top" class="stuck_position stuck" style="z-index: 1000; position: relative; top: auto; margin-left: 0px; width: 100%; left: 0px;">

        <div class="container-fluid" style="position: relative;">
            <div class="row">
                <div id="logo" class="col-sm-2">
                    <a href="https://livedemo00.template-help.com/joomla_64554/">
                        <span class="site-logo">LOGO</span>
                    </a>
                </div>
                <nav class="moduletable home_menu  col-sm-8" style="/* position: inherit; */">
                    <div class="module_container">
                        <div class="icemegamenu">
                            <ul id="icemegamenu">
                                {{#each menuItems}}
                                <li id="iceMenu_101" class="iceMenuLiLevel_1 current fullwidth  {{#if @index}}""{{else}} active {{/if}} ">
                                    <a href="https://livedemo00.template-help.com/joomla_64554/" class="icemega_active iceMenuTitle">
                                        <span class="icemega_title icemega_nosubtitle">{{item}}</span>
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="moduletable   col-sm-2">
                    <div class="module_container">
                        <div class="mod-menu mod-menu__social">
                            <ul class="nav menu social">
                                <li class="item-148">
                                    <a class="fa fa-facebook" href="#" title="Facebook"></a>
                                </li>
                                <li class="item-149">
                                    <a class="fa fa-google-plus" href="#" title="Google+"></a>
                                </li>
                                <li class="item-152">
                                    <a class="fa fa-linkedin" href="#" title="Linkedin"></a>
                                </li>
                                <li class="item-150">
                                    <a class="fa fa-twitter" href="#" title="Twitter"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <div id="header" class="stuck_position">
        <div class="moduletable center">
            <div class="module_container">
                <div id="swiper-slider_208" class="swiper-container swiper-slider center swiper-container-horizontal" >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" style="width: 1905px; background-image: url(https://livedemo00.template-help.com/joomla_64554/images/slider/slide-2.jpg); background-size: cover;">
                            <div class="swiper-slide-caption fadeIn animated text-center" >
                                <div class="camera_caption ">
                                    <h1 class="slide-title heading-style-1 visible-first">
                                        <span class="item_title_part_0   ">Unlimited</span> 
                                        <span class="item_title_part_1  ">Luxury</span>
                                        <span class="item_title_part_2  ">for</span>
                                         <span class="item_title_part_3   ">Body</span>
                                         </h1>
                                    <p>We offer a wide variety of services to meet even the most demanding expectations.</p>
                                    <a href="#" class="btn">contact me</a>
                                    <!-- Read More link -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>